/*About page*/

.about {
    display: flex;
    height: 100vh;
    border-bottom: 1px solid #000;
    padding-top: 3rem;
}

.about .mybio-image {
    flex: 1;
}

.mybio-text>h2 {
    text-transform: uppercase;
}

.about img {
    margin-left: 5rem;
    margin-top: 0.8rem;
    /* padding-left: 3rem; */
    height: 15rem;
    border-radius: 1.2rem;

}

.about .mybio-text {
    flex: 1;
    margin-top: 0;
    padding: 1.25rem;
    padding-top: 0;
    /* background-color: chocolate; */
}

.about .mybio-text p {
    text-align: justify;
    text-justify: inter-word;
}

.about .mybio-text .download {
    border-radius: 10%;
    height: 2rem;
    background-color: #D9D9D9;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
    margin-top: 3rem;
}



@media screen and (max-width:281px) {
    .about {
        display: flex;
        flex-direction: column;
        height: 100vh;
        text-align: justify;
    }

    .mybio-text h2 {
        text-align: center;
    }
    .about img {
        border-radius: 1.2rem;
        margin-left: auto;
        margin-right: auto;
        width: 100%;
    }

    .resume {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-top: 0;
    }

    .about .mybio-text .download {
        margin-top: 0.5rem;
    }
}