/*Styles for blogs */

.blogs {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #000;
    height: 50vh;
    padding-top: 3rem;
}

.blogs .blogs-title {
    width: 100%;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.blogs .blogs-content {
    display: flex;
    background-color: #FFFFFF;
}

.blogs .blogs-content div {
    flex: 1;
    background-color: rgba(0, 0, 0, 0.41);
    margin: 10px;
    padding: 10px;
    border-radius: 2%;
}


@media screen and (max-width:281px) {
    .blogs {
        height: 100vh;
    }

    .blogs .blogs-content {
        display: flex;
        flex-direction: column;

    }
}