/*Project styles*/
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    height: 70vh;
    background-color: #ffffff;
    border-bottom: 1px solid #000;
}

.projects-title {
    /* background-color: chartreuse; */
    width: 100%;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.projects-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: brown; */
    height: 50vh;
    width: 100%;

}

.projects-content .online-cv,
.my-brand {
    height: 20rem;
    width: 15rem;
    /* border: 3px solid rgb(33, 32, 32); */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15%;
}

.projects-content .online-cv {
    background-image: url('../images/Project3.jpg');
    background-repeat: no-repeat;
    background-size: 30rem auto;

}

.projects-content .my-brand {
    background-image: url('../images/Project4.jpg');
    background-repeat: no-repeat;
    background-size: 15rem auto;

}

.projects-content .online-cv>a,
.my-brand>a {
    color: black;
    font-size: large;
    font-weight: 900;
}


@media screen and (max-width:281px) {

    .projects {
        overflow-y: scroll;
        height: 78vh;
        /* background-color: yellow; */
    }

    .projects-content {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        /* background-color: brown; */
        width: 100%;
        padding: 1rem 0 0 0;
    }

    #online-cv,
    #my-brand {
        /* background-color: rgb(12, 227, 16); */
        flex: 1;
        margin-bottom: 1rem;
        background-color: blue;


    }
}