.practicalSkills h2 {
    text-transform: capitalize;
}

.practicalSkills .practicalSkill_Title {
    text-align: center;
    text-transform: uppercase;
}

.practicalSkills {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding-top: 3rem;
    border-bottom: 1px solid #000;

}

.practicalSkills .practicalSkillsOne {
    display: flex;
    flex-direction: row;
    margin-bottom: 1rem;
}

.practicalSkills_Content {

    flex: 1;
    /* background-color: blue; */
    margin-right: 1rem;
    padding: 2rem;

}

.practicalSkills_Image {
    flex: 0.5;
    /* background-color: green; */
    height: 11rem;
    padding: 2rem;
}

.practicalSkills_Image img {
    width: 30rem;
    height: 15rem;
    border-radius: 5%;

}

.practicalSkills .practicalSkillsTwo {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.1rem;
}

@media screen and (max-width:281px) {

    .practicalSkills {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        /* background-color: green; */
        height: 100vh;
        overflow-y: scroll;
    }


    #practicalSkillsOne,
    #practicalSkillsTwo {

        flex: 1;
        width: 95%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        /* background-color: rgb(64, 0, 255); */
        padding: 1rem;

    }

    /* .practicalSkill_Title { */
    /* background-color: red; */
    /* font-size: 1rem; */
    /* text-align: center; */
    /* text-indent: 1rem; */
    /* } */


    .practicalSkills_Image {
        /* background-color: red; */
        margin: 0;
        flex: 0.5;

    }

    .practicalSkills_Content {
        flex: 1;
        margin: 0;
        /* background-color: chartreuse; */
        height: 100%;
    }

    .practicalSkills_Image img {
        height: 10rem;
        width: 100%;
    }

}