body {
    margin: 0;
    padding: 0;
    /* background-color: aqua; */
    box-sizing: border-box;
}

.header {
    height: 9vh;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    border-bottom: 2px #000 solid;
}


.navigation {
    display: flex;
    justify-content: space-around;
    margin-top: 0, 0.6rem;
    height: 100%;
    /* background-color: red; */
}

.navigation .logo {
    /* background-color: yellow; */
    height: 2rem;
    display: flex;
    align-items: center;
}

.navigation .logo img {
    height: 2.6rem;
    width: auto;
    margin-top: 2.5vh;
}

.navigation .nav-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: blue; */
    flex: 1;
    min-height: 3rem;
    margin-top: 0;
    list-style: none;
}

.navigation .nav-list li>a {
    color: #000000;
    text-decoration: none;
}

.navigation .nav-list li>a:hover {
    background-color: rgba(211, 128, 13, 0.617);
}

.three-dots {
    display: none;
    max-height: 3rem;
    background-color: forestgreen;
    width: 0.6rem;
}

.three-dots li {
    margin-top: 0.3rem;

    /* background-color: blueviolet; */
    height: 0.6rem;
}

.humberger .humb {
    width: 1.6rem;
    height: 5px;
    background-color: black;
    margin: 3px 0;
    transition: 0.4s;
    display: none;

}

.change .humb1 {
    transform: translate(0, 11px) rotate(-45deg);
}

.change .humb2 {
    opacity: 0;
}

.change .humb3 {
    transform: translate(0, -11px) rotate(45deg);
}

@media screen and (max-width:400px) {
    .small-nav {
        display: none;
    }

    .three-dots {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 0.5rem;
    }


}


/*Home Page styles*/
.home {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    color: #000000;
    background-color: rgba(0, 0, 0, 0.41);
    border-bottom: 1px solid #000;
    background-image: url('../images/hom2.jpg');
    background-repeat: no-repeat;
    background-size: 100% auto;

}

.home h1,
.home h2 {
    margin: 0;
}


/*About page*/

.about {
    display: flex;
    height: 50vh;
    padding: 3rem;
    /* background-color: green; */
    border-bottom: 1px solid #000;
}

.about .mybio-image {
    flex: 1;
    /* background-color: #000000; */
}

.about img {
    height: 20rem;
    border-radius: 1.2rem;

}

.about .mybio-text {
    flex: 1;
    margin-top: 0;
    padding: 1.25rem;
    padding-top: 0;
    /* background-color: chocolate; */

}

.about .mybio-text p {
    text-align: justify;
    text-justify: inter-word;
}

.about .mybio-text .download {
    border-radius: 10%;
    height: 2rem;
    background-color: #D9D9D9;
    text-transform: uppercase;
    border: 0;
    cursor: pointer;
    margin-top: 3rem;
}

/*Skills styles*/

.skills {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50vh;
    text-transform: uppercase;
    border-bottom: 1px solid #000;
}

.skills li {
    list-style: none;
}

/*Project styles*/
.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #ffffff;
    border-bottom: 1px solid #000;
}

.projects-title {
    /* background-color: chartreuse; */
    width: 100%;
    display: flex;
    justify-content: center;
}

.projects-content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: brown; */
    height: 50vh;
    width: 100%;

}

.projects-content .online-cv,
.my-brand {
    height: 15rem;
    width: 15rem;
    /* border: 3px solid rgb(33, 32, 32); */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
}

.projects-content .online-cv {
    background-image: url('../images/My\ passport\ picture.jpg');
    background-repeat: no-repeat;
    background-size: 15rem auto;

}

.projects-content .my-brand {
    background-image: url('../images/Nelly\ KAWERA.jpg');
    background-repeat: no-repeat;
    background-size: 15rem auto;

}

.projects-content .online-cv>a,
.my-brand>a {
    color: #FFFFFF;
    font-size: large;
    font-weight: 700;
}


/*Styles for blogs */

.blogs {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #000;
    height: 50vh;
}

.blogs .blogs-title {
    width: 100%;
    display: flex;
    justify-content: center;
}

.blogs .blogs-content {
    display: flex;
    background-color: #FFFFFF;
}

.blogs .blogs-content div {
    flex: 1;
    background-color: rgba(0, 0, 0, 0.41);
    ;
    column-gap: 10px;
    margin: 10px;
    padding: 10px;
}

/*Stles for contacts*/

.contact {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #000;
    height: 80vh;
}

.contact .contact-title {
    width: 100%;
    display: flex;
    justify-content: center;
}

.contact .contact-content {
    display: flex;
    height: 50%;
    /* background-color: red; */
}

.contact .contact-content .email-phone {
    flex: 1;
    margin: 10px;
    padding: 10px;
    width: 100%;
    background-color: rebeccapurple;
}

.contact .contact-content .contact-form {
    margin: 10px;
    padding: 8px 10px 10px 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: brown;
    width: 100%;
}

.contact .contact-content .contact-form div {
    display: flex;
    justify-content: center;
    /* background-color: red; */
    align-items: center;
    height: 2.5rem;
    width: 100%;
}

.form_contents {
    display: flex;
    background-color: yellow;
    flex-direction: column;
    min-height: 100%;
}

.form_contents>div {

    height: 2rem;
    background-color: green;
    margin: 3px;
}